{% extends "layout.njk" %}

    {% block head %}
        <title>Yuri Oliveira - 404</title>
    {% endblock%}

    {% block content %}

        <div id="wrapper">
            <h1>Lamento mas a página procurada não foi encontrada</h1>  
            <p> Tente refazer sua busca. </p>
        </div>

    {% endblock %}